body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  color: black;
}

p {
  color: #8f8f8f;
}



.title-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  
}
.price-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;

  
}
.price-para {

  color: white;
  font-weight: bold;

  
}




.container-fluid{
  padding: 7% 15%;
}


.colored-section {
  background-color:green  ;
  color: #fff;
}

.white-section {
  background-color: #fff;
}


.download-button {
  margin: 5% 3% 5% 0;
}



#title {
  color: #fff;
  text-align: left;
  position: relative;
  bottom: 20px;
  
}

.title-image {
  width: 70%;
  transform: rotate(25deg);
  position: absolute;
  right: 3%;
}


#features {
  position: relative;
  bottom: 20px;

}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: skyblue;
  margin-bottom: 3rem;
  font-size: 50px;
 
}

.icon:hover {
  color: #ff4c68;
}


#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}



#pricing {
  padding: 100px;
  position: relative;
  bottom: 20px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}


#cta{
  position: relative;
  bottom: 20px;
}



#footer{
  position: relative;
  top: 20px;
  height: 100px;
 
}


.social-icon {
  margin: 20px 10px;
}

  a:hover{
    text-decoration: none;
  }

nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
  padding: 0;
}

nav ul li{
  padding: 0 12px;
  color: white;
}
.brand img{
  width: 44px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}



.container{
  min-height: 72vh;
  background-color: black;
  color: white;
 font-family: 'Varela Round', sans-serif;
 display: flex;
 margin: 23px auto;
 width: 80%;
 border-radius: 12px;
 padding: 34px;
 background-image: url('bg.jpg') ;
 
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;
 
}

.bottom{
  position: sticky;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.icons{
  margin-top: 14px; 
}
.icons i{
  cursor: pointer;
}

#myProgressBar{
  width: 80vw; 
  cursor: pointer;
}

.songItemContainer{
  margin-top: 74px;
}

.songItem{
  height: 50px;
  display: flex;
  background-color: white;
  
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}

.songItem img{
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}

.timestamp{
  margin: 0 23px;
}

.timestamp i{
  cursor: pointer;
}

.songInfo{
  position: absolute;
  left: 10vw;
  font-family: 'Varela Round', sans-serif;
}

.songInfo img{
  opacity: 0;
  transition: opacity 0.4s ease-in;
}




  